.hero-adventure-container .hero-adventure-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-adventure {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-adventure h1,
.hero-adventure h2,
.hero-adventure h3,
.hero-adventure h4,
.hero-adventure h5,
.hero-adventure h6,
.hero-adventure p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-adventure.no-image * {
  color: var(--text-color);
}

.hero-adventure picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-adventure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-adventure {
    padding: 40px 32px;
  }
}
