.hero-landing-container .hero-landing-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-landing {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-landing h1,
.hero-landing h2,
.hero-landing h3,
.hero-landing h4,
.hero-landing h5,
.hero-landing h6,
.hero-landing p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-landing.no-image * {
  color: var(--text-color);
}

.hero-landing picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-landing img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-landing {
    padding: 40px 32px;
  }
}
